.basic-cont {
    margin: 0 auto;
    width: 90%;
    display: block;
    max-width: 900px;
}

.results-card{
    background-color: #f8f8ff;
    height: 80px;
    line-height: 80px;
    margin-top: 10px;
    padding: 5px;
}

.form-container {
    text-align: center;
}

.text-input {
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
}

.search-button {
    color: white;
    background-color: #779ecb;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

.next-button {
    color: white;
    background-color: #779ecb;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
    float: right;
    margin-right: 10px;
}

.hidden {
    display: none;
}