.repos{
    height: 100px;
    background-color: #f8f8ff;
}

.user-avatar{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
}